.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 100;
}

.logo {
    position: relative;
    left: 30px;
    top: 10px;
    font-size: 15px;
    font-family: cursive;
    color: #a2678a;
}

.links {
    position: relative;
    right: 30px;
    top: 10px;
    padding: 20px;
    font-size: 25px;
}

.innercontent {
    position: relative;
    top: 200px;
    left: 50px;
    padding: 80px;
    align-items: center;
    color: black;
}

.developer {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    background: linear-gradient(to bottom, transparent 50%, #a6ff96 50%);
    width: 600px;
}

.statement {
    font-size: 25px;
    color: #a2678a;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: #64264d;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: none;
}

body {
    background-image: linear-gradient(to bottom right, #ffcccc, #a076f9);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

html {
    min-height: 100%;
}

button {
    color: black;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    height: 30px;
}

.contact-form {
    position: relative;
    right: 100px;
}

.form-container {
    position: relative;
    top: 700px;
    left: 420px;
    max-width: 30%;
    margin: 0 auto;
    padding: 20px;
    height: 350px;
    background-color: #f1d4d4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #64264d;
}

.contact-form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 30px;
}

.form-container label {
    display: block;
    font-weight: bold;
    color: #64264d;
}

.form-container input,
textarea {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.find-header h3 {
    color: #64264d;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

h2 {
    font-weight: normal;
    text-transform: uppercase;
    color: #64264d;
}

.myname {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    background: linear-gradient(to bottom, transparent 50%, #a6ff96 50%);
    width: 470px;
}

.find-container {
    position: relative;
    margin: 0 auto;
    left: 400px;
    top: 200px;
    display: flex;
    font-size: 16px;
    border: 2px solid #a2678a;
    text-transform: uppercase;
    height: 30px;
    border-radius: 10px;
    width: 400px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.find-links {
    font-size: 18px;
    padding: 20px;
}

.techskills-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #64264d;
    background-color: #f1d4d4;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    top: 400px;
    font-size: 20px;
}

.techskills-list {
    padding: 10px;
}

.techskills-text {
    text-decoration: underline;
    color: #64264d;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-position: inside;
    color: #64264d;
    padding-right: 20px;
    font-family: "Poppins", sans-serif;
}

.skills-lists {
    display: flex;

}

.softskills-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: #f1d4d4;
    border: 2px solid #64264d;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    top: 400px;
    font-size: 20px;
}

.softskills-text {
    text-decoration: underline;
    color: #64264d;
    font-family: "Poppins", sans-serif;
}

.softskills-list {
    padding: 10px;
}

.contact-message {
    position: relative;
    top: 300px;
    left: 200px;
    background-color: #f1d4d4;
    width: 400px;
    height: 300px;
    border: 2px solid #64264d;
    border-radius: 10px;
    padding: 20px;
}

.contact-title {
    font-size: 20px;
    text-decoration: none;
    color: #64264d;
    font-family: "Poppins", sans-serif;
}

.projects-message {
    font-size: 20px;
    padding-top: 50px;
    color: #64264d;
    font-family: "Poppins", sans-serif;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: normal;
}

h5 {
    text-align: center;
    position: relative;
    top: 500px;
    font-size: 20px;
    color: #64264d;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
}

.about-all {
    font-family: "Poppins", sans-serif;
}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
}

.about-header h1 {
    font-weight: normal;
    text-decoration: underline;
    color: #64264d;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.q1-all {
    padding-top: 1px;
    text-align: center;
}

.about-q1 {
    font-size: 20px;
    background: linear-gradient(to bottom, transparent 50%, #a6ff96 50%);
    width: 680px;
}

.answer-q1 {
    font-size: 20px;
    color: #a2678a;
    position: relative;
    right: 380px;
}

.q2-all {
    float: right;
    text-align: center;
}

.about-q2 {
    font-size: 20px;
    background: linear-gradient(to bottom, transparent 50%, #a6ff96 50%);
    width: 730px;
}

.answer-q2 {
    font-size: 20px;
    color: #a2678a;
}

.q3-all {
    text-align: center;
    position: relative;
    top: 200px;
}

.about-q3 {
    font-size: 20px;
    background: linear-gradient(to bottom, transparent 50%, #a6ff96 50%);
    width: 680px;
}

.answer-q3 {
    font-size: 20px;
    color: #a2678a;
}

.all-q4 {
    float: right;
    position: relative;
    top: 170px;
    text-align: center;
}

.about-q4 {
    font-size: 20px;
    background: linear-gradient(to bottom, transparent 50%, #a6ff96 50%);
    width: 400px;
}

.answer-q4 {
    font-size: 20px;
    color: #a2678a;
}

.leo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 180px;
    left: 690px;
}

.leo img {
    height: 100%;
    width: 100%;
}

.leo-facts {
    position: relative;
    right: 130px;
    bottom: 400px;
    color: #64264d;
    font-weight: normal;
}

.portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
}

.portfolio-header h1 {
    font-weight: normal;
    text-decoration: underline;
    color: #64264d;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
}

.p1 {
    padding-top: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: 10px;
}

.p1-title {
    font-size: 20px;
    background: linear-gradient(to bottom, transparent 50%, #a6ff96 50%);
    width: 300px;
    position: relative;
    left: 50px;
}

.p1-text {
    font-size: 20px;
    color: #a2678a;
    position: relative;
    right: 500px;
}

.p2 {
    float: right;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.p2-title {
    font-size: 20px;
    background: linear-gradient(to bottom, transparent 50%, #a6ff96 50%);
    width: 300px;
    position: relative;
    left: 90px;
}

.p2-text {
    font-size: 20px;
    color: #a2678a;
}

.p3 {
    padding-top: 2px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: 50px;
}

.p3-title {
    font-size: 20px;
    background: linear-gradient(to bottom, transparent 50%, #a6ff96 50%);
    width: 300px;
    position: relative;
    left: 80px;
}

.p3-text {
    font-size: 20px;
    color: #a2678a;
    position: relative;
    right: 480px;
}

.github-text {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #64264d;
    position: relative;
    bottom: 100px;
}
.grocery img{
    border-radius: 20px;
    width: 300px;
    height:200px;
    position: relative;
    left: 600px;
    top: 10px;
}
.zoo img{
border-radius: 20px;
width: 400px;
height: 200px;
position: relative;
left: 530px;
bottom: 150px;
}
.message-sent{
    text-align: center;
    color:#64264d;
}
.message-sent h1{
    font-weight: normal;
}
.message-sent img{
    text-align: center;
}
.home-link a{
    position: relative;
    left: 600px;
}