.header-border {}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    position: relative;
    left: 30px;
    top: 10px;
    font-size: 15px;
    font-family: cursive;
}

.links {
    position: relative;
    right: 30px;
    top: 10px;
    padding: 20px;
    font-size: 25px;
}

.innercontent {
    position: relative;
    top: 200px;
    left: 50px;
    padding: 80px;
    align-items: center;
    color: black;
}

.developer {
    font-size: 30px;
}

.statement {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: none;
}

body {
    background-color: seashell;
    font-family: serif;
}

button {
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    height: 30px;
}

.contact-form {
    position: relative;
    right: 100px;
}

.form-container {
    position: relative;
    top: 700px;
    left: 420px;
    max-width: 30%;
    margin: 0 auto;
    padding: 20px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 30px;
}

.form-container label {
    display: block;
    font-weight: bold;
}

.form-container input,
textarea {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 1rem;
}

h2 {
    font-weight: normal;
    text-transform: uppercase;
}

.myname {
    font-size: 25px;
}

.find-container {
    position: relative;
    margin: 0 auto;
    left: 400px;
    top: 200px;
    display: flex;
    font-size: 16px;
    border: 2px solid black;
    text-transform: uppercase;
    height: 30px;
    border-radius: 10px;
    width: 400px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.find-links {
    font-size: 18px;
    padding: 20px;
}

.techskills-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    background-color: white;
    width: 400px;
    height: 400px;
    top: 400px;
    font-size: 20px;
}

.techskills-list {
    padding: 10px;
}

.techskills-text {
    text-decoration: underline;
}

ul {
    list-style-position: inside;
}

.skills-lists {
    display: flex;

}

.softskills-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    top: 400px;
    font-size: 20px;
}

.softskills-text {
    text-decoration: underline;
}
.softskills-list{
    padding: 10px;
}
.contact-message{
    position: relative;
    top: 300px;
    left: 200px;
    background-color:white;
    width:400px;
    height: 300px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
}
.contact-title{
    font-size: 20px;
    text-decoration: none;
}
.projects-message{
    font-size: 20px;
    padding-top: 50px;
}
h3{
    font-weight: normal;
}
h4{
    font-weight: normal;
}
h5{
    text-align: center;
    position: relative;
    top: 500px;
    font-size: 20px;
}